body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1408px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:141px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:475px;
  height:1px;
  color:#F2F2F2;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:90px;
  width:713px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  white-space:nowrap;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:671px;
  width:475px;
  height:1px;
  color:#F2F2F2;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:504px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:696px;
  width:840px;
  height:504px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  white-space:nowrap;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:464px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:184px;
  width:620px;
  height:464px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:213px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:46px;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:396px;
  width:60px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:554px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:384px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-44px;
  width:82px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u245_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-85px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-48px;
  width:100px;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:304px;
  width:0px;
  height:0px;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:36px;
  width:84px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u246_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:68px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:550px;
  width:0px;
  height:0px;
}
#u247_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-42px;
  width:140px;
  height:12px;
  -webkit-transform:rotate(148.172553423327deg);
  -moz-transform:rotate(148.172553423327deg);
  -ms-transform:rotate(148.172553423327deg);
  transform:rotate(148.172553423327deg);
}
#u247_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-11px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-31.8274465766708deg);
  -moz-transform:rotate(-31.8274465766708deg);
  -ms-transform:rotate(-31.8274465766708deg);
  transform:rotate(-31.8274465766708deg);
}
#u247_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-79px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(148.172553423326deg);
  -moz-transform:rotate(148.172553423326deg);
  -ms-transform:rotate(148.172553423326deg);
  transform:rotate(148.172553423326deg);
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:549px;
  width:0px;
  height:0px;
}
#u248_seg0 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-43px;
  width:122px;
  height:10px;
  -webkit-transform:rotate(38.8844964337146deg);
  -moz-transform:rotate(38.8844964337146deg);
  -ms-transform:rotate(38.8844964337146deg);
  transform:rotate(38.8844964337146deg);
}
#u248_seg1 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-12px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-141.115503566287deg);
  -moz-transform:rotate(-141.115503566287deg);
  -ms-transform:rotate(-141.115503566287deg);
  transform:rotate(-141.115503566287deg);
}
#u248_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-81px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(38.8844964337157deg);
  -moz-transform:rotate(38.8844964337157deg);
  -ms-transform:rotate(38.8844964337157deg);
  transform:rotate(38.8844964337157deg);
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:563px;
  width:35px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:563px;
  width:35px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:57px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:550px;
  width:35px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:198px;
  width:57px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1315px;
  height:369px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1233px;
  width:1315px;
  height:369px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1241px;
  width:74px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:1304px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:1334px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u256_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-9px;
  width:19px;
  height:18px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1304px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1434px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:1364px;
  width:0px;
  height:0px;
}
#u259_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u259_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:57px;
  width:18px;
  height:19px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:1304px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:1334px;
  width:0px;
  height:0px;
}
#u261_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u261_seg1 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-9px;
  width:19px;
  height:18px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:1434px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:1334px;
  width:0px;
  height:0px;
}
#u263_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u263_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-9px;
  width:19px;
  height:18px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:1364px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u264_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:57px;
  width:18px;
  height:19px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:1304px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:1434px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:1364px;
  width:0px;
  height:0px;
}
#u267_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u267_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:57px;
  width:18px;
  height:19px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:1304px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:1334px;
  width:0px;
  height:0px;
}
#u269_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u269_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-9px;
  width:19px;
  height:18px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1304px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1465px;
  width:60px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1314px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1344px;
  width:0px;
  height:0px;
}
#u273_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:166px;
  height:8px;
}
#u273_seg1 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-9px;
  width:19px;
  height:18px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1374px;
  width:0px;
  height:0px;
}
#u274_seg0 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:60px;
  width:160px;
  height:10px;
  -webkit-transform:rotate(-56.1085421627525deg);
  -moz-transform:rotate(-56.1085421627525deg);
  -ms-transform:rotate(-56.1085421627525deg);
  transform:rotate(-56.1085421627525deg);
}
#u274_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u274_seg2 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:119px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-56.1085421627532deg);
  -moz-transform:rotate(-56.1085421627532deg);
  -ms-transform:rotate(-56.1085421627532deg);
  transform:rotate(-56.1085421627532deg);
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1505px;
  width:0px;
  height:0px;
}
#u275_seg0 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-65px;
  width:152px;
  height:10px;
  -webkit-transform:rotate(53.6641354331081deg);
  -moz-transform:rotate(53.6641354331081deg);
  -ms-transform:rotate(53.6641354331081deg);
  transform:rotate(53.6641354331081deg);
}
#u275_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u275_seg2 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-127px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(53.6641354331115deg);
  -moz-transform:rotate(53.6641354331115deg);
  -ms-transform:rotate(53.6641354331115deg);
  transform:rotate(53.6641354331115deg);
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-68px;
  width:100px;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:270px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:1294px;
  width:1px;
  height:269px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1316px;
  height:597px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1631px;
  width:1316px;
  height:597px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1639px;
  width:74px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:25px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2263px;
  width:475px;
  height:1px;
  color:#F2F2F2;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1821px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:1821px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1851px;
  width:0px;
  height:0px;
}
#u282_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u282_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:19px;
  height:18px;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:1932px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1881px;
  width:0px;
  height:0px;
}
#u284_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u284_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:19px;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:1699px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1821px;
  width:0px;
  height:0px;
}
#u286_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-62px;
  width:8px;
  height:66px;
}
#u286_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-68px;
  width:18px;
  height:19px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:2043px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1992px;
  width:0px;
  height:0px;
}
#u288_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u288_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:19px;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:1821px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:1962px;
  width:0px;
  height:0px;
}
#u290_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u290_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:19px;
  height:18px;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1821px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1851px;
  width:0px;
  height:0px;
}
#u292_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u292_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-9px;
  width:19px;
  height:18px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1699px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:1821px;
  width:0px;
  height:0px;
}
#u294_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-62px;
  width:8px;
  height:66px;
}
#u294_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-68px;
  width:18px;
  height:19px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:1962px;
  width:0px;
  height:0px;
}
#u295_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u295_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-9px;
  width:19px;
  height:18px;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:1932px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:1932px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:2043px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1932px;
  width:0px;
  height:0px;
}
#u299_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-30px;
  width:52px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u299_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u299_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-56px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1992px;
  width:0px;
  height:0px;
}
#u300_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:22px;
  width:52px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u300_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u300_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1932px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:1881px;
  width:0px;
  height:0px;
}
#u302_seg0 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:21px;
  width:54px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u302_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u302_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:2043px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:1992px;
  width:0px;
  height:0px;
}
#u304_seg0 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:22px;
  width:54px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u304_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u304_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:1932px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:2043px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:2149px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:2103px;
  width:0px;
  height:0px;
}
#u308_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u308_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:33px;
  width:18px;
  height:19px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:1992px;
  width:0px;
  height:0px;
}
#u309_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u309_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:19px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:2073px;
  width:0px;
  height:0px;
}
#u310_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:151px;
  height:8px;
}
#u310_seg1 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-81px;
  width:8px;
  height:85px;
}
#u310_seg2 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-87px;
  width:18px;
  height:19px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:1962px;
  width:0px;
  height:0px;
}
#u311_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u311_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-9px;
  width:19px;
  height:18px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:1871px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:1962px;
  width:0px;
  height:0px;
}
#u313_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u313_seg1 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-31px;
  width:8px;
  height:35px;
}
#u313_seg2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-37px;
  width:18px;
  height:19px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:1812px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1932px;
  width:0px;
  height:0px;
}
#u315_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-60px;
  width:8px;
  height:64px;
}
#u315_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-66px;
  width:18px;
  height:19px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:1842px;
  width:0px;
  height:0px;
}
#u316_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u316_seg1 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-4px;
  width:8px;
  height:33px;
}
#u316_seg2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:16px;
  width:18px;
  height:19px;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2214px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u318 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:2214px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
