body {
  margin:0px;
  background-color:rgba(242, 243, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:0px;
  width:14px;
  height:62px;
  overflow:hidden;
}
#u1245_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(31, 35, 55, 1);
  background-image:none;
}
#u1245_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1246 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1246_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background-image:none;
}
#u1246_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  visibility:hidden;
  background-image:none;
}
#u1246_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:80px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:80px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:11px;
  width:168px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
