body {
  margin:0px;
  background-color:rgba(242, 243, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:0px;
  width:14px;
  height:62px;
  overflow:hidden;
}
#u1113_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(31, 35, 55, 1);
  background-image:none;
}
#u1113_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1114_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background-image:none;
}
#u1114_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  visibility:hidden;
  background-image:none;
}
#u1114_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:138px;
  width:282px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:138px;
  width:282px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:138px;
  width:282px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:138px;
  width:282px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1114_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  visibility:hidden;
  background-image:none;
}
#u1114_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:11px;
  width:168px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:79px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:79px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:79px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:1217px;
  top:79px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
