body {
  margin:0px;
  background-color:rgba(242, 243, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:0px;
  width:14px;
  height:62px;
  overflow:hidden;
}
#u1213_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(31, 35, 55, 1);
  background-image:none;
}
#u1213_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1214_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background-image:none;
}
#u1214_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  visibility:hidden;
  background-image:none;
}
#u1214_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:138px;
  width:282px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:138px;
  width:282px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:138px;
  width:282px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:138px;
  width:282px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1214_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  visibility:hidden;
  background-image:none;
}
#u1214_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:11px;
  width:168px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:79px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:79px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:79px;
  width:120px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:1217px;
  top:79px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
