body {
  margin:0px;
  background-color:rgba(242, 243, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1380px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1380px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:452px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:463px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:463px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:463px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:896px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:896px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:896px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:896px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:11px;
  width:168px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
