body {
  margin:0px;
  background-color:rgba(242, 243, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1380px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1380px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:452px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:463px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:463px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:463px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:896px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:896px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:896px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:896px;
  width:281px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:11px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:11px;
  width:168px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
